.filter-component{
    width: 100%;
    padding-left: 8px;
    .filter-category{
        .category{
            margin-top: 8px;
            font-size: 22px;
            font-weight: 600;
        }
        .ant-checkbox-group{
            margin-top: 8px;
            .ant-checkbox-wrapper{
                margin: 0;
                span{
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }

    .filter-price{
        margin-top: 16px;
        .price{
            margin-top: 8px;
            font-size: 22px;
            font-weight: 600;
        }
            .ant-checkbox-wrapper{
                margin: 0;
                flex-direction: unset !important;
                margin-top: 8px;
                span{
                    font-size: 18px;
                    font-weight: 400;
                }
            }
    }
}