.layout-user{
    .ant-layout-header{
        padding: 0;
        background-color: #ffffff;
        .ant-menu{
            .ant-menu-item:last-child{
                margin-left: 300px ;
                color: red;
            }
        }
        
    }
}