.addBook{
    height: 100%;
    .ant-form-item{
        margin-bottom: 16px;
    }
    textarea{
        resize: unset;
    }
    .upload{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        .custom-file-upload{
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            border: 1px solid rgb(235, 235, 235);
            background-color: rgba(163, 160, 160, 0.1);
            cursor: pointer;
        }
        input{
            display: none;
        }
        .preview-img{
            margin-top: 32px;
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }
    .detail-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }
}